#about-hero {
    // background image is not displaying for some reason.
    background-image: url('../images/about/about-hero.jpg');
    height: 20em;
    background-size: cover;
    margin-top: 10em;
    margin-bottom: 5em;
    h2 {
        text-align: center;
        margin-top: 4em;
        color: white;
        font-weight: 300; 
    }
}
.about-image {
    background-image: url('../images/about/about-image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 30em;
    margin-bottom: 6em;
}

.story {
    text-align: justify;
    margin-bottom: 6em;
}
    h2 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #444444;
        font-weight: 600;
    }
#signup {
    background-color: deepskyblue;
}