#about-hero {
    background-image: url('..images/about/about-hero.jpg');
    height: 10em;
    background-size: cover;
    h2 {
        text-align: center;
        color: white;
        font-weight: 300; 
    }
}
#signup {
    background-color: deepskyblue;
}