
#howtoplayhero {
    background-image: url("../images/HowToPlay/how-to-play-hero.jpg");
    height: 5em;
    background-position: center;
    color: white;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 5em;
    font-family: "Roboto Condensed";
}

.tabs {
    border-bottom: 2px solid grey;
    height: 3em;

    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.getting-started-container {
    margin: 2em;

    h3 {
        font-family: "Work Sans";
        text-transform: uppercase;
        font-weight: bolder;
        text-align: left;
        padding-left: 0;
        margin-top: 3em;
    }

    h4 {
        font-family: "Work Sans Extra Bold";
        font-weight: bolder;
        color: grey;
        text-align: left;
    }

    .blueText {
        color: #2995c7;
        font-family: "Work Sans Extra Bold";
    }

    .greyText {
        color: #a6a8ab;
        font-family: "Roboto Bold Condensed";
    }

    .row {
        margin: 2em;
    }

    #email {
        width: 85%;
        display: block;
        border: 1px solid #a6a8ab;
        margin: 2em auto;
        text-align: center;
        padding: 0;
        border-radius: 8px;
        font-size: .8em;
        height: 2.5em;
        background-color: #fff;
        color: #404042;
    }


}

.overview-container{
     background-color: #f1f2f2;
     margin: 0;
     width: 100%;

     .row {
         margin-left: 0;
         margin-right: 0;

     }

    h2 {
        color: #3db893;
        font-family: "Work Sans Extra Bold";
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2em;
    }
}

.circle {
    background-color: #2995c7;
    font-family: "Work Sans Extra Bold";
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    vertical-align: middle;
    line-height: 170%;

}