@media screen and (max-width: 632px) {
  .covershark {
    background-image: url('..images/Home/coversharks-mark-white.svg');
  }
  .first-section {
    background-image: url('..images/Home/coversharks-home-mobile-hero.png');
    background-size: cover;
    height: 40em;
    text-align: center;
  }
  .second-section {
    text-align: center;
  }
  .first-section .image1 {
    display: none;
  }
}
@media screen and (min-width: 631px) {
  .first-section .image2 {
    display: none;
  }
}
.first-section .background {
  background-image: url('..images/Home/coversharks-web-hero.jpg');
  z-index: -1;
  height: 40em;
  background-size: cover;
}
.first-section h1 {
  margin-top: 3em;
  color: white;
  margin-left: 1em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  background-color: deepskyblue;
  text-align: center;
  font-size: 3.5em;
}
.first-section p {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin-left: 5em;
  font-size: 1.5em;
}
.first-section button {
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  margin-left: 6em;
}
.first-section .image1 {
  max-height: 100%;
}
.second-section {
  margin-bottom: 0;
}
.second-section img {
  margin-top: 2em;
  max-height: 100%;
}
.second-section h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin-top: 5em;
  color: darkgray;
}
.second-section h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  color: lightseagreen;
  font-size: 4em;
}
.second-section button {
  background-color: black;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 0.5em;
}
.third-section .background {
  background-image: url('..images/Home/bkgrnd.svg');
  background-size: cover;
  height: 40em;
}
.third-section h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  color: deepskyblue;
  text-align: center;
  margin-top: 3em;
  font-size: 3.5em;
  margin-left: 1em;
}
.third-section p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-left: 5em;
}
.third-section button {
  background-color: white;
  color: gray;
  margin-left: 15em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.third-section img {
  height: 40em;
  width: 35em;
}
.fourth-section {
  background-color: lightgrey;
}
.fourth-section h1 {
  color: deepskyblue;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}
.fourth-section .panel-default {
  margin-left: 3em;
  margin-right: 3em;
}
.fourth-section .panel-default .panel-body {
  height: 27em;
}
.fourth-section .panel-default .panel-body img {
  height: 12em;
  width: 20em;
  margin-top: 1em;
}
.fourth-section .panel-default .panel-body h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
  color: gray;
}
.fourth-section .panel-default .panel-body p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: darkgray;
}
.fourth-section h3 {
  color: deepskyblue;
  text-align: center;
}
.fourth-section button {
  background-color: black;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.fourth-section input {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.footer {
  background-color: #302e2e;
}
.footer .footer-logo {
  height: 7em;
  width: 7em;
}
.footer .footer-fb {
  height: 2em;
  width: 2em;
  margin-left: 1em;
}
.footer .footer-twitter {
  height: 2em;
  width: 2em;
  margin-left: 1em;
}
.footer ul {
  list-style-type: none;
  margin-top: 3em;
}
.footer ul li {
  color: steelblue;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
.footer .first-list {
  border-right: 1px solid steelblue;
}
.footer button {
  background-color: mediumseagreen;
  margin-top: 2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin-left: 5em;
}
.footer .final {
  background-color: black;
  color: darkslategray;
}
#howtoplayhero {
  background-image: url("../images/HowToPlay/how-to-play-hero.jpg");
  height: 5em;
  background-position: center;
  color: white;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 5em;
  font-family: Roboto Condensed;
}
.tabs {
  border-bottom: 2px solid grey;
  height: 3em;
}
.tabs a {
  width: 10em;
  background-color: grey;
  font-style: bold;
  height: 100%;
}
#about-hero {
  background-image: url('../images/about/about-hero.jpg');
  height: 20em;
  background-size: cover;
  margin-top: 10em;
  margin-bottom: 5em;
}
#about-hero h2 {
  text-align: center;
  margin-top: 4em;
  color: white;
  font-weight: 300;
}
.about-image {
  background-image: url('../images/about/about-image.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 30em;
  margin-bottom: 6em;
}
.story {
  text-align: justify;
  margin-bottom: 6em;
}
.story hr {
  color: darkgrey;
  height: 0;
}
.story h3 {
  margin-top: 0;
  color: darkgray;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #444444;
  font-weight: 600;
  margin-bottom: 0;
}
#signup {
  background-color: #2d97d2;
  height: 10em;
}
#signup p {
  margin-top: 2em;
  text-align: center;
  color: white;
}
button {
  background-color: #404042;
  color: white;
}
.navbar {
  height: 5em;
  margin-bottom: 0;
  background-color: white;
}
.navbar .links {
  background-color: whitesmoke;
  height: 4.9em;
}
.navbar .words {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  margin-top: 0.5em;
}
.navbar .covershark {
  background-image: url('../images/Home/logo-color.svg');
  height: 4em;
  width: 15em;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: white;
  margin-top: 0.5em;
}
.navbar .facebook {
  background-image: url('../images/Home/fb-grey.svg');
  height: 2em;
  width: 3em;
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: 1em;
}
.navbar .twitter {
  background-image: url('../images/Home/twitter-grey.svg');
  height: 2em;
  width: 3em;
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: 1em;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  display: inline;
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: center;
}
