<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="about-hero">
            <h2>About</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 about-image">

        </div>
        <div class="col-md-4 story">
            <h2>How it got started</h2>
            <h3>The game within the game.</h3>
            <br>
            <p>CoverSharks was founded by a group of college football fans who have been playing a fantasy sports game called “Pick Six” for over a decade. As an alum and avid fan of the Crimson Tide, 
             Bill Wilder first created the original concept behind the game app in 2006. The idea was simple... give friends and college football fans alike the opportunity to compete in their favorite 
             sport using an innovative format of game play that engages them in a unique, “game within the game” competition and enhances the overall entertainment experience</p>
        </div>
    </div>
    <div id="signup" class="row">
        <p>Signup to receive updates about CoverSharks</p>
        <div class="row">
            <div class="form-group col-md-offset-4 col-md-4">
            <input type="text" class="form-control" placeholder="Email">
            <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    <div id="team-container">
        <div class="row">
            <div class="col-md-12" id="team-overview">
                <h2>The CoverSharks Team</h2>
                <p>Over the past ten years, the players competing in the game have become part of a focus group that has seen vast potential in developing
                this unique format for play on a national scale. The number of players has steadily grown where the demand now exceeds the limits of the 
                game. The game concept integrated with mobile app technology will make it available to sports fans across the country.</p>
            </div>
        <div class="bios">
            <h3>Bill Welder</h3>
            <h4>President and CEO</h4>
            <p>Bill is a graduate of the University of Alabama with a master's degree in Sport Management and is employed as an administrator with the 
            City of Hoover, Alabama. His years of professional experience in sport management and the fan experience have been a key factor in developing
            the concept behind the game. Combining app technology with a unique game format has prepared CoverSharks to be on the cutting edge of the mobile 
            sports entertainment industry.</p>
        </div>
        <div class="bios">
            <h3>Paul Damron</h3>
            <h4>Chief Financial Officer</h4>
            <p>Paul currently serves as the Chief Financial Officer for Highlands Regional Medical Center in Sebring, Florida. He has a broad background in 
            finance and accounting with prior experience in public accounting and consulting. Paul holds a bachelor’s degree from Samford University as well 
            as a Master of Business Administration from Vanderbilt University.</p>
        </div>
        <div class="bios">
            <h3>Preston Kirk</h3>
            <h4>Chief Marketing Officer</h4>
            <p>With a bachelor's degree in Broadcast Journalism from the University of Alabama, Preston has worked in sports marketing and management for over 
            ten years. Currently employed with the City of Birmingham, Alabama, he has been involved in marketing and operations at the highest level of collegiate 
            athletics including NCAA National Championships and various conference championship events. Preston has overseen marketing collateral, website, mobile app, 
            and social media design from concept to completion with the idea of enhancing the spectator and athlete experience.</p>
        </div>
    </div>
</div>