<div id="howtoplayhero">how to play
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="text-center tabs col-xs-3">
            <span>Getting Started</span>
        </div>
        <div class="text-center tabs col-xs-3">
            <span>Videos</span>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>
<div class="getting-started-container">
    <div class="row">
        <form>
        <div class="form-group">
        <img class="col-xs-6" src="../images/HowToPlay/phone1.png" alt="">
        <div class="col-xs-6">
            <h3>APP COMING SOON</h3>
            <h4>Our app is in development, but you can enter your email to be the first to recieve updates about CoverSharks.</h4>
            <input  type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" name="EMAIL" id="Email"><br>
            <button type="submit" class="btn btn-primary btn-lg" id="Subscribe"> SUBSCRIBE </button>
        </div>
        </div>
        </form>
    </div>
    <p class="blueText">Our contests are based on real-time point spreads that are used to establish favorites and underdogs.</p>
    <p class ="greyText">Instead of picking players based on their statistics, our contests are based on outcomes of games in real-time. The concept
        behind our game is fun, easy, mobile and patent pending.</p>
    </div>
    <div class="overview-container">
        <h2>overview of gameplay</h2>
        <div class="overview-list">
            <div class="overview-item row">
                <div class="circle">1</div>
                <h3>Pick Your Contest</h3>
                <hr />
                <p>CoverSharks is different because it lets you choose your contest and how you want to play. Enter the Shark
                    Tank and choose college teams to play against the point spread or the total in our weekly games.</p>
            </div>
            <div class="overview-item">
                <div class="circle">2</div>
                <h3>Choose How You Want to Play</h3>
                <hr />
                <p>Do you want to compete alongside your favorite teams? Do you follow the entire nation, a specific conference,
                    or region of the country? CoverSharks gives you the option to customize your play with our unique format
                    of games that suits your personal preferences.</p>
            </div>
        </div>
        <div class="overview-list-image row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h2 id="blueH2">Score Points and Win</h2>
                <p>Once the games begin, teams and players compete to win points. With each win, you accumulate points that
                    can be redeemed.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <img src="../images/HowToPlay/phone2.png" alt="">
            </div>
        </div>
        <div class="overview-list">
            <div class="overview-item">
                <div class="circle">3</div>
                <h3>Play for Free</h3>
                <hr />
                <p>CoverSharks lets you play for free in any of our games. Want to play with more on the line than picking the
                    winner? Choose from a variety of games and choose your competition each and every week of the season.</p>
            </div>
            <div class="overview-item">
                <div class="circle">4</div>
                <h3>Play with Friends, Family, Rivals &amp; Co-workers</h3>
                <hr />
                <p>Once you see for yourself how much fun you will have, play with everyone from friends to enemies for the
                    ultimate game experience. Play head-to-head, in an open league or create your own custom league to see
                    who has bragging rights in real time with every game.</p>
            </div>
        </div>
    </div>

<!--end of the getting started section-->
<div class="videos-container">
    <div class="row">
        <h3 class="col-md-12">Pick Your Contest</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <img src="https://websiteblob1.blob.core.windows.net/listings/471-pick-the-winners-1" alt="">
                <h4>Pick the Winners</h4>
                <p>It's as simple as that. Who do you think will win the game?</p>
                <div class="videos-button">
                    <button>play video</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <img src="https://websiteblob1.blob.core.windows.net/listings/472-cover-the-spread-1" alt="">
                <h4>Cover the Spread</h4>
                <p>Do you want more on the line than just selecting the winners? This is the game for you.</p>
                <div class="videos-button">
                    <button>play video</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <img src="https://websiteblob1.blob.core.windows.net/listings/473-over-under-2" alt="">
                <h4>Over / Under</h4>
                <p>Select your games and choose a side over or under the total points.</p>
                <div class="videos-button">
                    <button>play video</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="col-md-12">Pick Your Opponent</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <img src="https://websiteblob1.blob.core.windows.net/listings/474-single-player-1" alt="">
                <h4>Single Player</h4>
                <p>It's you vs. the CoverSharks Nation. Score big and dominate your competition.</p>
                <div class="videos-button">
                    <button>play video</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <img src="https://websiteblob1.blob.core.windows.net/listings/475-head-to-head-1" alt="">
                <h4>Head to Head</h4>
                <p>Select your opponent or allow another shark to challenge you.</p>
                <div class="videos-button">
                    <button>play video</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <img src="https://websiteblob1.blob.core.windows.net/listings/476-join-create-a-pool-1" alt="">
                <h4>Join / Create a Pool</h4>
                <p>Play the most exciting version of the game with friends and family!</p>
                <div class="videos-button">
                    <button>play video</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="col-md-12">Pick Your Games</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <img src="https://websiteblob1.blob.core.windows.net/listings/557-pick-4" alt="">
                <h4>Pick3</h4>
                <p>This is the quick and easy version for those on the go.</p>
                <div class="videos-button">
                    <button>play video</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <img src="https://websiteblob1.blob.core.windows.net/listings/477-pick-7" alt="">
                <h4>Pick6</h4>
                <p>Pick the six games you want to play. Every game counts.</p>
                <div class="videos-button">
                    <button>play video</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <img src="https://websiteblob1.blob.core.windows.net/listings/478-pick-11" alt="">
                <h4>Pick10</h4>
                <p>Looking for more of a challenge? This is the ultimate game experience!</p>
                <div class="videos-button">
                    <button>play video</button>
                </div>
            </div>
        </div>
    </div>
</div>