<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="promotions-hero">
            <h2>Featured Promotions</h2>
        </div>
    </div>
    <section id="win">
        <div class="row">
            <div class="col-md-6 register">
                <h3>Register Now for a chance to win a</h3>
                <h1>FREE YETI COOLER <br> or APPLE WATCH</h1>
                <h4>Through April 17th</h4>
                <p>Auburn vs. Alabama A-Day Promotions Free <br> giveaways at onsite promotions</p>
                <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#registerForm">Register</button>
            </div>
            <div class="col-md-6 register-image">
                <img src="../images/Home/apple-watch-and-yeti-image.png" class="img-responsive" alt="">
            </div>
        </div>
    </section>
    <!--Modal Form-->
    <section id="registerForm">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="text-center">Please enter your registration information:</h3>
                <input type="text" class="form-control input" placeholder="First and Last Name">
                <input type="text" class="form-control input" placeholder="Email">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <input type="text" class="form-control input" placeholder="Zip Code">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control input" placeholder="Favorite Team">
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <button type="button" class="btn btn-lg">Register</button>
            </div>
        </div>
    </section>
</div>